---
import Layout from '../../layouts/Login.astro';
import Login from '../../components/Login.jsx';

---
<Layout>
    <div>
        <Login client:load />
    </div>
</Layout>
<style is:global>
    @keyframes float {
      0% {
        transform: translateY(0) translateX(0);
      }
      50% {
        transform: translateY(-20px) translateX(10px);
      }
      100% {
        transform: translateY(0) translateX(0);
      }
    }
  </style>