@import "tailwindcss";

@theme {
  --color-light: #ddffe7;
  --color-simi-light: #98d7c2;
  --color-dark: #167D7F;
  --color-simi-dark: #29A0B1;
}

body {
  font-family: 'Roboto', sans-serif;
  background-color: var(--color-dark);
  color: var(--color-dark);
  margin: 0;
  padding: 0;
}
@keyframes float {
  0% {
    transform: translateY(0) translateX(0);
  }
  50% {
    transform: translateY(-20px) translateX(10px);
  }
  100% {
    transform: translateY(0) translateX(0);
  }
}