<!doctype html>
<html lang="en">
	<head>
		<meta charset="UTF-8" />
		<meta name="viewport" content="width=device-width" />
		<link rel="icon" type="image/svg+xml" href="/favicon-test.svg" />
		<meta name="generator" content={Astro.generator} />
		<title>LightWithin</title>
		<link href="/src/styles/global.css" rel="stylesheet">
	</head>
	<body class="bg-[#98d7c2] text-center">
		<slot />	
	</body>
</html>
